<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <%- include('./partials/header')  %> 
    <main>
        <img src="/images/banner.jpg" alt="banner">
        <!-- categorias -->
        <section class="category">
            <h2>Categorias</h2>
            <article>
                <img src="/images/categorias/articulo1.jpg" alt="articulo">
                <a href="/">Destacado</a> 
            </article>
            <article>
                <img src="/images/categorias/articulo2.jpg" alt="articulo">
                <a href="/">PC</a>
            </article>
            <article>
                <img src="/images/categorias/articulo3.jpg" alt="articulo">
                <a href="/">otra categoria</a>
            </article>
            <article>
                <img src="/images/categorias/articulo4.jpg" alt="articulo">
                <a href="/">otra categoria</a>
            </article>
            <article>
                <img src="/images/categorias/articulo5.jpg" alt="articulo">
                <a href="/">otra categoria</a>
            </article>
        </section>
        <section class="destacados">
            <h2>Productos destacados</h2>
            <% productos.forEach(producto => { %>
                <article>
                    <img src="/images/productos/<%= producto.image[0]%>" alt="destacado">
                    <a href="/products/<%= producto.id%>">
                        <p class="name-producto"><%= producto.name%></p>
                    </a>
                    <p class="precio">$ <%= producto.price %></p>
                    <p class="off"> <%= producto.descuento %>%</p>
                    <button>Comprar</button>
                </article>
            <% }) %>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>