<form action= <%= action %>  method = 'POST' enctype="multipart/form-data" >
    <% let error =  locals && locals.errores %> 
    <fieldset class=" <%= error && errores.name? 'error' : '' %>  ">
        <input type="text" name="name" placeholder="Nombre"  
            value ="<%=(typePage=='edit')? producto.name:  locals.oldData ? oldData.name: ''%>"
        >
        <i class="fas fa-exclamation-circle"></i>
        <small><%= ( error && errores.name) ? errores.name.msg : '' %></small>
    </fieldset>

    <fieldset  class=" <%= error && errores.description? 'error' : '' %>  ">
        <textarea name="description" cols="30" rows="10" placeholder="Descricion" ><%=typePage == 'edit'? `${producto.description}` : locals.oldData ? oldData.description: '' %></textarea>
        <i class="fas fa-exclamation-circle"></i>
        <small><%= ( error && errores.description) ? errores.description.msg : '' %></small>
    </fieldset>
    
    <label for="imagen">Imagenes del producto</label>
    <% if(typePage == 'edit') {%>
        <fieldset>
            <% producto.image.forEach(element =>{ %>
                <label  class="card-images <%= (producto.image.length >= 3 )? 'widthTercio': 'widthFull' %>" >
                    <img src="/images/productos/<%= element %>">
                    <input type="checkbox" value="<%= element %>" name="deleteImage">
                    <input type="hidden" value="<%= element %>" name="imagenesViejas" >
                    <p>Eliminar</p>
                </label>
            <% })  %>
        </fieldset>
    <% } %>
    <fieldset  class=" <%= error && errores.images? 'error' : '' %>  ">
        <input type="file" name="images" multiple>
        <i class="fas fa-exclamation-circle"></i>
        <small><%= ( error && errores.images) ? errores.images.msg : '' %></small>
    </fieldset>

    <fieldset class="widthFull flex <%= ( error && errores.category)? 'error' : '' %>  ">
        <label class="widthFull marginTBSmall">Categoria</label>
        <label class="flex widthFull alignCenter marginTBSmall">
            <input type="checkbox" name="category" value="destacado" 
            <%= typePage != 'create' && producto.category.indexOf('destacado') != -1 ? 'checked': '' %> 
            <%= locals.oldData && locals.oldData.category? oldData.category.indexOf('destacado') != -1? 'checked' : '' : '' %> >
            <p>Destacado</p>
        </label>

        <label class="flex widthFull alignCenter marginTBSmall">
            <input type="checkbox" name="category" value="PC" 
            <%= typePage != 'create' && producto.category.indexOf('PC') != -1 ? 'checked': '' %> 
            <%= locals.oldData && locals.oldData.category? oldData.category.indexOf('PC') != -1? 'checked' : '' : '' %> >
            <p>PC</p>
        </label>
        <label class="flex widthFull alignCenter marginTBSmall">
            <input type="checkbox" name="category" value="momory-ram" 
            <%= typePage != 'create' && producto.category.indexOf('momory-ram') != -1 ? 'checked': '' %> 
            <%= locals.oldData && locals.oldData.category? oldData.category.indexOf('momory-ram') != -1? 'checked' : '' : '' %> >
            <p>Memoria RAM</p>
        </label>
        <label class="flex widthFull alignCenter marginTBSmall">
            <input type="checkbox" name="category" value="accesorios" 
            <%= typePage != 'create' && producto.category.indexOf('accesorios') != -1 ? 'checked': '' %> 
            <%= locals.oldData && locals.oldData.category? oldData.category.indexOf('accesorios') != -1? 'checked' : '' : '' %> >
            <p>Accesorios</p>
        </label>
        <small><%= ( error && errores.category) ? errores.category.msg : '' %></small>
    </fieldset>
    <fieldset>
        <input type="number" name="off" placeholder="Descuento" max="100" min="0" value = <%= typePage == 'create'? '' : `${producto.off}` %>>
        <i class="fas fa-exclamation-circle"></i>
        <small>Text Error save?</small>
    </fieldset>
    <fieldset  class=" <%= error && errores.price? 'error' : '' %>  ">
        <input type="number" name="price" min="0" placeholder="Precio"  
        value = <%= typePage == 'edit'? `${producto.price}` : locals.oldData ? oldData.price : '' %> >
        <i class="fas fa-exclamation-circle"></i>
        <small><%= ( error && errores.price) ? errores.price.msg : '' %></small>
    </fieldset>
        
    <button type="submit" class="btnCian">Enviar</button>
</form>

<%if(typePage == 'edit'){%>
    <form action="/products/delete/<%=producto.id%>?_method=DELETE" method="POST" class="form-delete">
        <button type="submit" class="btnRosa">Eliminar</button>
    </form>
<%}%>