<form action= <%= action %>  method = 'POST' enctype="multipart/form-data" >
    
    <input type="text" name="nombre" placeholder="Nombre" <%= typePage != 'edit'? 'required' : '' %> value ="<%=(typePage=='edit')?producto.name:''%>">
    <textarea name="descripcion" cols="30" rows="10" placeholder="Descricion" required><%= typePage == 'create'? '' : `${producto.descrition}` %></textarea>
    
    <label for="imagen">Imagenes del producto</label>
    <% if(typePage == 'edit'){%>
        <fieldset class="center">
            <% producto.image.forEach(element =>{ %>
                <label  class="card-images <%= (producto.image.length >= 3 )? 'widthTercio': 'widthFull' %>" >
                    <img src="/images/productos/<%= element %>">
                    <input type="checkbox" value="<%= element %>" name="deleteImage">
                    <input type="hidden" value="<%= element %>" name="imagenesViejas" >
                    <p>Eliminar</p>
                </label>
            <% })  %>
        </fieldset>
    <% } %>
    <fieldset>
        <input type="file" name="imagen" id="imagen" multiple>
    </fieldset>
    <fieldset class="categoria">
        <label>Categoria</label>
        <label>
            <input type="checkbox" name="categoria" value="destacado" <%= (typePage != 'create' && producto.categoria.indexOf('destacado') != -1 )? 'checked' : '' %> >
            <p>Destacado</p>
        </label>
        <label>
            <input type="checkbox" name="categoria" value="PC" <%= (typePage != 'create' && producto.categoria.indexOf('PC') != -1 )? 'checked' : '' %>>
            <p>PC</p>
        </label>
        <label>
            <input type="checkbox" name="categoria" value="momory-ram" <%= (typePage != 'create' && producto.categoria.indexOf('momory-ram') != -1 )? 'checked' : '' %> >
            <p>Memoria RAM</p>
        </label>
        <label>
            <input type="checkbox" name="categoria" value="accesorios" <%= (typePage != 'create' && producto.categoria.indexOf('accesorios') != -1 )? 'checked' : '' %> >
            <p>Accesorios</p>
        </label>
    </fieldset>
    <input type="number" name="descuento" placeholder="Descuento" max="100" min="0" value = <%= typePage == 'create'? '' : `${producto.descuento}` %>>
    <input type="number" name="price" min="0" placeholder="Precio" required  value = <%= typePage == 'create'? '' : `${producto.price}` %> >
    
    <button type="submit" class="btn-submit">Enviar</button>
</form>

<%if(typePage == 'edit'){%>
    <h2>Eliminar Producto</h2>
    <form action="/admin/deleteProduct/<%=producto.id%>?_method=DELETE" method="POST" class="form-delete">
        <button type="submit" class="delete">Eliminar</button>
    </form>
    <%}%>