<section class="marginTB flex justAround">
    <h2 class="title textL widthFull marginTB"><%= titleProduct %></h2>
    <% productos.forEach(producto => { %>
        <article class="card-product bgcAzul flex justBet cajaResponsive marginTB">
            <img src="/images/productos/<%= producto.image[0]%>" alt="destacado">
            <a href="/products/<%= producto.id%>" class="widthFull blanco title marginTB">
                <p class="name-producto textC"><%= producto.name%></p>
            </a>
            <p class="blanco">$ <%= producto.price %></p>
            <p class="cian"> <%= producto.descuento %>%</p>
            <button class="btnCian">Comprar</button>
        </article>
    <% }) %>
</section>