<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/styles/productView.css">
</head>
<body>
    <%- include('../partials/header')  %>    
    <main>
        <% if (producto) { %>
         
            <section class="product">
                <article>
                    <img src="/images/productos/<%=producto.images[0].name%>" alt="imagen del producto">     
                </article>
                <article class="informacion-de-pago">    
                    <h2 class="name-producto"><%= producto.name %></h2>  
                    <p class="descripcion"><%= producto.description %> </p>
                    <p class="name-dato">Precio</p>             
                    <p class="dato">$<%= producto.price %></p>
                    <p class="name-dato">Descuento</p>             
                    <p class="dato"> <%= producto.off %>% </p>
                    <form action="/products/cart/upload" method="POST" enctype="multipart/form-data">
                        <fieldset>
                            <label for="quantity">Cantidad del producto: </label>
                            <input type="number" name="quantity" min="1" value="1" id="quantity" required>
                            <input type="hidden" name="id" value="<%= producto.id %>" >
                        </fieldset>
                        <button type="submit">Agregar al Carrito</button>
                    </form>
                </article>
            </section>
        <% } else { %>
            <section>
                <p class="blanco title "><%= error %></p> 
            </section>
        <% } %>
         
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>