<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/styles/form.css">
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <section>
                <h2><%= title %></h2>
                <%- include('../partials/formProduct') %>
            </section>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>